<!DOCTYPE html>


<head>
    <meta charset="utf-8" />
    <title>Insta Bomber</title>
</head>
<body>
<form action="{{url_for('do')}}" method="post">
Enter your username:<input type="text" name="username">
</br>
Enter your password:<input type="password" name="password">
</br>
Enter your message:<input type="textarea" name="message">
</br>
Enter number of times you want to repeat:<input type="number" name="number">
</br>
Enter username of person u want to send:<input type="text" name="username2">
</br>
<button>SUBMIT</button>
</body>
</html>